<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Banco.Properties.Settings.nota_facilConnectionString"
            connectionString="Data Source=MATHEUS;Initial Catalog=nota_facil;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>